body {
  background-color: #f5f5f5;
  font-family: sans-serif;
}

#main {
  margin: auto;
  margin-top: 75px;
  height: 85vh;
  width: 85vw;
}

/*general css*/
.bold {
  font-weight: 600;
}

.clearfix {
  overflow: auto;
}

.display-none {
  display: none;
}

button, #email-submit {
  color: #fff;
  padding: 5px 15px;
  font-size: 15px;
  cursor: pointer;
  border-radius: 5px;
  border-width: 0px;
  opacity: 0.8;
}

button:hover {
  opacity: 1.0;
}

/*login page*/
#logo {
  background-color: #fff;
  max-width: 800px;
  width: 85%;
  margin: auto;
  font-family: Helvetica;
  padding-right: 10px;
  padding-bottom: 10px;
  border-radius: 3px;
  box-shadow: 0px 0px 5px #4FA025;
}

#drchrono-logo {
  width: 100%;
  max-width: 750px;
}

#bday-reminder-logo {
  float: right;
  font-size: 58px;
  color: #4A4A4A;
  margin-top: -30px;
}

#about-app {}

#login-button {
  width: 220px;
  margin: auto;
  margin-top: 50px;
}

#login-button button {
  padding: 5px;
  padding: 15px 15px;
  background-color: #4FA025;
}

/*patients index*/
#patient-table, #patient-table-label {
  background-color: #fff;
  padding-top: 5px;
  border-radius: 3px;
}

#patient-table-label {
  display: block;
  font-size: 20px;
  margin-bottom: 5px;
  background-color: #696f7d;
  color: #fff;
  padding-left: 5px;
}

#patient-list {
  overflow-y: scroll;
  max-height: 80%;
}

#patient-table-head {
  width: 98.5%;
  padding-bottom: 5px;
}

.patient {
  border-top: 1px solid #f5f5f5;
}

.patient-first-name {
  display:inline-block;
  width: 18%;
  word-wrap: break-word;
  padding-left: 10px;
}

.patient-last-name {
  display:inline-block;
  width: 18%;
  word-wrap: break-word;
}

.patient-email {
  display:inline-block;
  width: 30%;
  word-wrap: break-word;
}

.patient-birthday {
  display:inline-block;
  width: 20%;
  word-wrap: break-word;
}

.patient-send-check {
  display:inline-block;
  width: 10%;
}

.patient-send-check>input {
  position: relative;
  left: 30%;
  bottom: 2px;
}

.changed {
  background-color: #ADD8E6;
}

#email-all-button {
  margin-bottom: 20px;
  background-color: #459420;
}

#save-send-changes, #email-submit {
  margin-top: 20px;
  background-color: #0769AD;
}

#save-send-changes[disabled], #email-submit[disabled] {
  cursor: not-allowed;
  color: #D3D3D3;
  background-color: #808080;
  opacity: 0.2;
}

#saving-wall, #saving-status {
  position: absolute;
  z-index: 1000;
  left: 0;
  right: 0;
}

#saving-wall {
  width: 100%;
  height: 100%;
  top: 0;
  background-color: #D3D3D3;
  opacity: 0.6;
}

#saving-status {
  text-align: center;
  margin-top: 200px;
  margin-left: auto;
  margin-right: auto;
  font-size: 30px;
  width: 200px;
  background-color: #00008B;
  color: #fff;
  padding: 20px 100px;
  border-radius: 5px;
}

/*email*/
#email-description {
  font-size: 12px;
}

#email-body-input, #email-subject-input {
  width: 75%;
  max-width: 700px;
  font-size: 15px;
}

#email-subject-input {
  padding: 5px;
  margin-bottom: 25px;
  margin-top: 10px;
}

#email-body-input {
  height: 75%;
}

/*navbar*/
#nav {
  position: fixed;
  width: 100%;
  height: 40px;
  background-color: #5CB85C;
  top: 0;
  left: 0;
}

#nav-patients, #nav-email, #sign-out, #to-drchrono {
  width: 225px;
  text-align: center;
  height: inherit;
  background-color: #55B914;
  opacity: 0.7;
}

#nav-patients:hover, #nav-email:hover, #sign-out:hover, #to-drchrono:hover {
  opacity: 1.0;
}

#nav-patients, #nav-email {
  float: left;
  border-right: 1px solid #C0C0C0;
}

#sign-out, #to-drchrono {
  float: right;
  border-left: 1px solid #C0C0C0;
}

#nav a {
  display: block;
  position: relative;
  font-size: 15px;
  text-decoration: none;
  color: #fff;
  height: 40px;
  top: 0;
}

.nav-class-text {
  margin-top: 10px;
}

.drchrono-nav-text {
  position: relative;
  top: -5px;
}

/*responsive*/
@media (max-width: 920px) {
  #to-drchrono {
    display: none;
  }

  #nav-patients, #sign-out {
    width: 125px;
  }
}
