<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>drchrono Birthday Reminder</title>
    {% load staticfiles %}
    <link rel="stylesheet" href="{% static 'style/birthday_reminder.css' %}" media="screen" title="no title" charset="utf-8">
    <script src="//code.jquery.com/jquery-1.12.0.min.js"></script>
    <script src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
  </head>
  <body>
    <div id="main">
      {% block content %}
      {% endblock %}
    </div>
    <script type="text/javascript" src="{% static 'js/birthday_reminder.js' %}"></script>
  </body>
</html>
