{% extends 'base.html' %}
{% block content %}

<h1>Welcome {{doctor.first_name}}</h1>
<button id="email-all-button" type="button" name="button">
  <i class="fa fa-paper-plane"></i> Add all patients to birthday email list
</button>
<button id="email-none-button" type="button" name="button">
  <i class="fa fa-times"></i> Remove all patients from birthday email list
</button>

<label id="patient-table-label" class="bold" for="patient-table">
  <i class="fa fa-users"></i> PATIENTS
  <a href="https://drchrono.com/o/authorize/?redirect_uri=http%3A//localhost%3A8000/auth/&response_type=code&client_id=g9fTx7H3gXlnZOA2SeoPmE4NV1MIh5yU4lOoxmX4&scope=patients:read%20user:read">
    <button id="update-list-button" type="button" name="button">
      Update Patient List from drchrono
    </button>
  </a>
</label>

<div id="patient-table">
  <div id="patient-table-head" class="bold">
    <div class="patient-last-name">Last Name</div>
    <div class="patient-first-name">First Name</div>
    <div class="patient-email">Email</div>
    <div class="patient-birthday">Birthday</div>
    <div class="patient-send-check">Send Email?</div>
  </div>
  <div id="patient-list">
    {% for patient in patients %}
    <div class="patient" data-patient="{{patient.id}}">
      <div class="patient-last-name">{{ patient.last_name }}</div>
      <div class="patient-first-name">{{ patient.first_name }}</div>
      <div class="patient-email">{{ patient.email }}</div>
      <div class="patient-birthday">{{ patient.birthday.date }}</div>
      <div class="patient-send-check">
        {% if patient.email_bool == True %}
          <input type="checkbox" name="name" value="" checked>
        {% else %}
          <input type="checkbox" name="name" value="">
        {% endif %}
      </div>
    </div>
    {% endfor %}
  </div>
</div>
<button id="save-changes-button" class="save-button"
  type="button" name="button" disabled
>
  <i class="fa fa-check-square-o"></i> Save Changes
</button>

<div id="save-success" class="save-result display-none bold">
  Save successful
</div>
<div id="save-fail" class="save-result display-none bold">
  Save failed, please try again
</div>

<div id="save-guard" class="center-screen display-none">
  <div id="loading-screen" class="center-screen display-none">
    Updating patient list<br>
    Please wait...
  </div>
</div>

{% endblock %}
