astroid==1.4.4
colorama==0.3.6
dj-database-url==0.4.0
Django==1.9.3
django-braces==1.8.1
django-oauth-toolkit==0.10.0
gunicorn==19.4.5
lazy-object-proxy==1.2.1
oauthlib==1.0.3
psycopg2==2.6.1
pylint==1.5.4
six==1.10.0
virtualenv==14.0.6
wheel==0.26.0
whitenoise==2.0.6
wrapt==1.10.6
