{% load staticfiles %}
<div id="nav">
  <div id="nav-left">
    <div id="nav-patients" class="nav-link nav-link-left">
      <a href="{% url 'birthday_reminder:index_view' %}">
        <div class="nav-class-text">
          <i class="fa fa-list fa-lg"></i> Patients List
        </div>
      </a>
    </div><div id="nav-email" class="nav-link nav-link-left">
      <a href="{% url 'birthday_reminder:custom_email' %}">
        <div class="nav-class-text">
          <i class="fa fa-envelope-o fa-lg"></i> Customize Email Message
        </div>
      </a>
    </div>
  </div>

  <div id="nav-right">
    <div id="to-drchrono" class="nav-link nav-link-right">
      <a href="https://drchrono.com/dashboard/">
        <div class="nav-class-text">
          <img src="{% static 'images/drchrono-icon.png' %}" alt="" />
          <span id="drchrono-nav-text">To drchrono</span>
        </div>
      </a>
    </div><div id="sign-out" class="nav-link nav-link-right">
      <a href="{% url 'birthday_reminder:logout' %}">
        <div class="nav-class-text">
          <i class="fa fa-sign-out fa-lg"></i> Log Out
        </div>
      </a>
    </div>
  </div>
</div>
